<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <tr th:each="job : ${jobs}">

        <td>

            <p th:text="${'id: ' + job.id}" >1</p>
            <p th:text="${'Employer: ' + job.employer}">Active Giver</p>
            <p th:text="${'Location: ' + job.location}" >Anywhere in the US</p>
            <p th:text="${'Position Type: ' + job.positionType}" >Data Scientist / Business Intelligence</p>
            <p th:text="${'Core Competency: ' + job.coreCompetency}" >.Net</p>
        </td>
        </tr>

    </table>





</div>

</body>
</html>